* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

body {
  margin: 2em;
  background: #ccf;
}

#content {
  margin: 1em;
  background: #fff;
  padding: 1em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  border-radius: 3em;
}

p {
  margin: 1em;
}

ul, ol {
  margin-left: 3em;
}

#main {
  display: none;
}

.error {
    color: #ff0000;
}

#message .username {
    font-weight: bold;
}

#message .body {
    padding-left: 5px;
}

#message .timestamp {
    font-size: 80%;
    float: right;
    color: #666;
}