h1 {
  text-align: center;
}

body {
  margin: 2em;
  background: #ccf;
}

#content {
  margin: 1em;
  background: #eef;
  padding: 1em;
}

#main {
  display: none;
}

.error {
    color: #ff0000;
}

#sessions {
    margin-top: 1em;
    margin-bottom: 1em;
    background: #fff;
}

#sessions ul {
    display: inline;
}

#sessions li {
    display: inline;
    padding-left: 0.5em;
}

#message {
    min-height: 50px;
    max-height: 300px;
    overflow: auto;
    background: #fff;
}

#message .message .username {
    font-weight: bold;
}

#message .message .body {
    padding-left: 1em;
}

#message .message .timestamp {
    font-size: 80%;
    float: right;
    color: #666;
}

#message .message .username {
    font-size: 80%;
    font-weight: bold;
}

#message .system .body {
    font-size: 80%;
    color: #333;
}